atom-text-editor, atom-text-editor::shadow {
  background: #2b303b !important;

  .invisible-character,
  .indent-guide {
    color: rgba(255, 255, 255, .1) !important;
  }

  .gutter {
    background: #2b303b !important;
    border-left: 1px solid #343d46 !important;
  }

  .gutter .line-number {
    opacity: .3 !important;
  }

  .entity.name.type {
    text-decoration: none;
  }
}

// Highlight Color
// https://discuss.atom.io/t/how-to-change-find-and-replace-highlight-color/14750/10
//
atom-text-editor::shadow .highlight {
  &.find-result .region,
  &.current-result .region,
  &.current-result ~ .highlight.selection .region {
    z-index: -1;
  }

  &.find-result .region {
    background: yellow;
  }

  &.current-result .region,
  &.current-result ~ .highlight.selection .region {
    background: orange;
  }
}
